<p><%= t("mailers.reset_password.greeting", email: @resource.email) %></p>
<p><%= t("mailers.reset_password.body") %></p>
<p><%= link_to t("mailers.reset_password.action"), @action_url %></p>
<p><%= t("mailers.reset_password.ignore") %></p>
